<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">1&plus;1</a>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">People</a></li>
            <li class="divider"></li>
            <li><a href="#">Teams</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </header>
</template>